<html>
<head></head>
<body>
  <style>
  body{
  background: tan;
  }
  </style>
  <p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <%= message %>
  </p>
</body>
</html>
