<html>
<head></head>
<body>
<style>
body{
  background: tan;
}
</style>
<p>
  Guess a number between 1 and 100
</p>
<form method="get">
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>
<p>
  <%= message %>
</p>
</body>
</html>
